$font-stack-heading: 'Lato', sans-serif;
$font-stack-body: 'Lato', sans-serif;
$font-stack-button: 'Lato', sans-serif;

$color-primary: #1bb8d1;
$color-accent: #edf900;

$color-accent-alt: lighten(#edf900, 30%);
$color-text-accent-alt: #000000;

$color-text-primary: lighten(#000, 13%);
$color-text-primary-hover: lighten(#000, 40%);
$color-text-secondary: lighten(#000, 40%);
$color-text-faint: lighten(#000, 60%);
$color-text-alt: #fff;
$color-text-alt-hover: rgba(255, 255, 255, 0.8);
$color-text-black: black;
$color-hr: rgba(0, 0, 0, 0.1);
$color-snackbar: #323232;

$color-facebook: #3c5a99;
$color-twitter: #1da1f2;
$color-whatsapp: #25D366;

$border-radius: 4px;
$margin-page: 30px;

$tracking-mid: 1.2px;
$tracking-wide: 2px;

$top-bar-height: 70px;

$font-s: 0.9rem;