@import '_variables.scss';

.attachment-wrapper {
  display: flex;
}

.attachment {
  h3 {
    font-family: $font-stack-body;
    font-size: 14px;
    font-weight: normal;
  }

  a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: $font-stack-button;
    font-weight: 700;
    letter-spacing: 0.2px;
  }

  a,
  a:visited,
  a i {
    color: $color-primary;
    text-decoration: none !important;
    border-bottom: none !important;
    margin-left: 0px;
  }
}