@import "_variables.scss";

.button-margin {
  margin-top: 10px;
}

.v-btn {
  border: 1px solid !important;
}

.v-btn:not(.v-btn--round) {
  border-radius: $border-radius;
}

.action-button {
  letter-spacing: $tracking-mid;
  .v-ocpm {
    margin-right: 10px;
  }
}

.login-form-return-button {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

a:not(.md-button):hover {
  text-decoration: none !important;
}