
@font-face {
  font-family: 'Gilroy';
  src: url(/fonts/Gilroy-Thin.otf);
  font-weight: 200;
}


@font-face {
  font-family: 'Gilroy';
  src: url(/fonts/Gilroy-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url(/fonts/Gilroy-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url(/fonts/Gilroy-SemiBold.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url(/fonts/Gilroy-Bold.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url(/fonts/Gilroy-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: url(/fonts/Gilroy-Black.otf);
  font-weight: 800;
}