
@import "~vue-material/dist/theme/engine"; // Import the theme engine
@import "_variables.scss";
@import "fonts.scss";
@import "toast.scss";
@import "dialog.scss";
@import "button.scss";
@import "attachment.scss";


@include md-register-theme("default", (
  primary: $color-primary, // The primary color of the application
  accent: $color-accent // The accent or secondary color
));

@import "~vue-material/dist/theme/all"; // Apply the theme

html, body
{
  background-color: $color-text-secondary;
  color: $color-text-primary;
  letter-spacing: 0.5px;
  font-family: $font-stack-body;
  height: 100vh;
  margin: 0;
}

html {
  body {
    width: 100vw;
    font-size: 1.0rem;
  }
}


.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
}

.container-wide {
  margin: 0px $margin-page;
}

.form-column {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-content-padding {
  padding: 40px 0px;
}

.page-heading {
  font-size: 28px;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-hr;
}

.v-application {
  .v-text-field fieldset, 
  .v-text-field .v-input__control, 
  .v-text-field .v-input__slot {
    border-radius: $border-radius;
  }
}


h1 {
  font-size: 20px;
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-family: $font-stack-heading;
  color: $color-text-primary;
}

h2 {
  @include h2-primary;
}

h3 {
  @include h3-primary;
}

hr {
  border: none; 
  border-top: 0.05rem solid #{$color-hr};
  height: 0;
  box-sizing: border-box;
}

.container-base {
  margin: 0;
  width: 100%;
  padding-right: $margin-page;
  padding-left: $margin-page;
  margin-right: auto;
  margin-left: auto;
}

.fixed-right-bottom {
  position: fixed;
  right: $margin-page;
  bottom: 80px;
  z-index: 10;
}

.hero {
  background-color: $color-primary;
  text-align: left;
  padding-top: 120px;
  padding-bottom: 120px;

  h1,
  h2,
  h3 {
    margin: 0;
    color: $color-text-alt;
    font-family: $font-stack-heading;
    line-height: 100%;
    padding-top: 40px;
  }

  h1 {
    padding-bottom: 40px;
  }

  h2 {
    padding-bottom: 5px;
  }

  h3 {
    color: $color-text-alt-hover;
    font-size: 28px;
    font-weight: normal;
    max-width: 600px;
    margin-top: 50px;
    line-height: 100%;
  }

  h1 {
    font-weight: bold;
    font-size: 36px;
  }

  a:hover {
    text-decoration: none !important;
  }
}

div.back-link {
  padding-top: 25px;
  margin-bottom: -20px;
}

.form-main {
  padding-top: 50px;
}


body {
  .v-application {
    font-family: $font-stack-body;
    background: $color-text-secondary !important;
  }

  .md-drawer.md-temporary {
    position: fixed;
  }
  .md-drawer {
    z-index: 12;
  }
  
  .md-overlay {
    position: fixed !important;
    z-index: 11;
  }  
}

body {
  @include media-breakpoint-up(md) {
    .container-base {
        max-width: $container-md;
    }
  }
  
  @include media-breakpoint-up(lg) {
    .container-base {
        max-width: $container-lg;
    }
  }
  
  @include media-breakpoint-up(xl) {
    .container-base {
        max-width: $container-xl;
    }
  }
  
  @include media-breakpoint-up(xxl) {
    .container-base {
        max-width: $container-xxl;
    }
  }
}

/* Default page transition */
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Hide dropdowns when loading the page */
.md-field .md-list.md-theme-default {
  display: none;
}

.loader {
  display: flex;
  justify-content: center;
  padding: 50px;
}

body {
  .v-card__text {
    font-size: 1rem;
  }
  .v-card__actions {
    padding: 16px 24px;;
  }

  .v-dialog,
  .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border-radius: $border-radius;
  }

  .theme--light.v-card,
  .theme--light.v-application {
    color: $color-primary;
  }

  .theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
    background: $color-accent;
    &:hover {
      background: $color-primary !important;
    }

    .v-select__selection--comma,
    .v-icon {
      color: $color-text-alt;
    }
  }
  
.theme--dark.v-list {
  background: $color-primary;
}
}