body {
  background: #fafafa;
  font-family: 'Roboto', arial, sans-serif;
  text-align: center;
}

img,
div,
p,
h1 {
  text-align: center;
}

.hero {
  padding: 50px 0px;
  background-color: #281348;
}

h1 {
  color: white;
  font-size: 36px;
  width: 100%;
  margin: 0;
  padding: 10px 0px 0px 0px;
}

a {
  padding: 50px 0px 0px 0px;
  font-size: 20px;
  display: inline-block;
  color: #EA376D;
  letter-spacing: 0.2px;
  text-decoration: none;
}

p {
  padding: 10px;
}