body {
  background: #fafafa;
  font-family: 'Gilroy', arial, sans-serif;
  text-align: center;
}

img,
div,
p,
h1 {
  text-align: center;
}

.hero {
  padding: 50px 0px;
  background-color: #281348;
}

.kotios-logo {
  max-width: 120px;
}

h1 {
  color: white;
  font-size: 36px;
  width: 100%;
  margin: 0;
  padding: 10px 0px 0px 0px;
}

a {
  padding: 50px 0px 0px 0px;
  font-size: 20px;
  display: inline-block;
  color: #EA376D;
  letter-spacing: 0.2px;
  text-decoration: none;
}

p {
  padding: 10px;
}


@font-face {
  font-family: 'Gilroy';
  src: url('https://kotios-staging.herokuapp.com/fonts/Gilroy-Thin.otf');
  font-weight: 200;
}


@font-face {
  font-family: 'Gilroy';
  src: url('https://kotios-staging.herokuapp.com/fonts/Gilroy-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://kotios-staging.herokuapp.com/fonts/Gilroy-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://kotios-staging.herokuapp.com/fonts/Gilroy-SemiBold.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://kotios-staging.herokuapp.com/fonts/Gilroy-Bold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://kotios-staging.herokuapp.com/fonts/Gilroy-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://kotios-staging.herokuapp.com/fonts/Gilroy-Black.otf');
  font-weight: 800;
}